.content{
	width:600px;
	height: 620px;
	border: 4px solid khaki;
	padding: 0px;
	overflow: hidden;
	background-color: beige;
	border-radius: 25px 25px 25px 25px;
}
figure {
	width: 400px;
	height: 300px;
	margin-right: 0px;
}
img {
	border-radius: 15px 15px 15px 15px;